<!--新增批次-->
<table class="input-form mt20">
    <tbody>
        <tr>
            <th>{{deviceCategory.title}}</th>
            <td>
                <!--行业-->
                <div class="sod_select area light-long">
                    <div class="sod_label">{{deviceCategory.active.categoryName}}</div>
                    <div class="sod_list">
                        <ul>
                            <li v-for="option in deviceCategory.list" class="{{option.class}} {{option.categoryId}}" v-on:click="deviceCategory.select(option,deviceCategory,deviceModel)">{{option.categoryName}}</li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr v-if="deviceModel.show">  
            <th>{{deviceModel.title}}</th>
            <td>
                <!--行业-->
                <div class="sod_select area light-long">
                    <div class="sod_label">{{deviceModel.active.modelName}}</div>
                    <div class="sod_list">
                        <ul>
                            <li v-for="option in deviceModel.list" class="{{option.class}}" v-on:click="select(option,deviceModel)">{{option.modelName}}</li>
                        </ul>
                    </div>
                </div> 
            </td>
        </tr>
        <tr>
            <th>{{manufacturer.title}}</th>
            <td>
                <!--行业-->
                <div class="sod_select area light-long">
                    <div class="sod_label">{{manufacturer.active.factoryName}}</div>
                    <div class="sod_list">
                        <ul>
                            <li v-for="option in manufacturer.list" class="{{option.class}}" v-on:click="select(option,manufacturer)">{{option.factoryName}}</li>
                        </ul>
                    </div>
                </div>
            </td>
        </tr>
        <tr v-for="val in list" class="{{val.listClass}}">
            <th>{{val.title}}</th>
            <td>
                <input type="{{val.type}}" class="input input-long {{val.warning&&'warning'}}" v-on:keyup.enter="submit" v-on:blur="val.blur(val)" v-on:focus="focus(val)" v-model="val.value" type="text" placeholder="{{val.placeholder}}" value="{{val.value}}"/>
                <div class="hint">{{val.hint}}</div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <div class="mt20">
                    <a href="javascript:void(0)" class="btn {{submitClass}} mr5" v-on:click="submit">{{submitValue}}</a>
                    <a href="./batch-list.html" class="btn {{cancelClass}} mr5">{{cancelValue}}</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>