<!--设备型号列表-->
<table class="info-table">
    <thead>
        <tr>
            <th v-for="val in titles" v-bind:style="val.styleObject">
                {{val.text}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr v-for="val in dataList">
            <td>{{$index+1}}</td>
            <td>{{val.userName}}</td>
            <td>{{val.loginName}}</td>
            <td class="tools">
                <ul>
                    <li>
                        <a href="javascript:void(0)" v-on:click="unBindUser(val.id,$index)">{{val.tools.unBind}}</a>
                    </li>  
                </ul>
            </td>
        </tr>
        <tr v-if="dataList.length==0" class="tc">
            <td colspan="4"><b>没有数据</b></td>
        </tr>
    </tbody>
</table>