<!DOCTYPE html>
<html>
<head>
    <title>地球村后台管理中心</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/public/style.css"/>
    <link rel="stylesheet" href="/css/system-manage/role.css"/>
    <link rel="shortcut icon" href="/images/public/title_icon.png" type="image/x-icon">
</head>
<body class="bg sell-after-school-device" id="sell-after">
<!--主要部分-->
<main id="main">
    <!--位置-->
    <div class="location">
        <location></location>
    </div>
    <div class="container">
        <!--新建学校-->
        <div class="input-form">
            <template v-if="list">
                <table class="w mt20">
                    <tbody>
                    <tr v-for="val in list">
                        <th>{{val.title}}</th>
                        <td>
                            <input class="input input-long {{val.class}}" type="text" v-on:blur="val.blur(val)" v-on:keyup.enter="submit" v-model="val.value" placeholder="{{val.placeholder}}" value="{{val.value}}"/>
                            <div class="hint">{{val.hint}}</div>
                            <template v-if="val.success">
                                <input v-if="val.user" class="input input-long mt10" type="text" disabled value="{{val.user.value}}"/>
                            </template>
                        </td>
                    </tr>
                    <tr class="line">
                        <th>{{address.title}}</th>
                        <td>
                            <div>
                                <!--省份-->
                                <div class="sod_select province light-long">
                                    <div class="sod_label">{{address.provinceActive.areaName}}</div>
                                    <div class="sod_list">
                                        <ul>
                                            <li v-for="option in address.province" class="{{option.class}} notSetVal" v-on:click="provinceSelect(option,address)">{{option.areaName}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--城市-->
                                <div class="sod_select city light-long">
                                    <div class="sod_label">{{address.cityActive.areaName}}</div>
                                    <div class="sod_list">
                                        <ul>
                                            <li v-for="option in address.city" class="{{option.class}} notSetVal" v-on:click="citySelect(option,address)">{{option.areaName}}</li>
                                        </ul>
                                    </div>
                                </div>
                                <!--区县-->
                                <div class="sod_select area light-long">
                                    <div class="sod_label">{{address.areaActive.areaName}}</div>
                                    <div class="sod_list">
                                        <ul>
                                            <li v-for="option in address.area" class="{{option.class}} notSetVal" v-on:click="areaSelect(option,address)">{{option.areaName}}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <textarea class="mt15 textarea" v-model="address.value" placeholder="{{address.placeholder}}"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <th>{{specialTitle}}</th>
                        <td></td>
                    </tr>
                    <tr v-for="val in specialList">
                        <th>{{val.title}}</th>
                        <td>
                            <input class="input input-long {{val.warning&&'warning'}}" type="text" v-on:blur="val.blur(val)" v-on:keyup.enter="submit" v-model="val.value" v-on:focus="focus(val)" placeholder="{{val.placeholder}}" value="{{val.value}}"/>
                            <div class="hint">{{val.hint}}</div>
                            <template v-if="val.success">
                                <input v-if="val.user" class="input input-long mt10" type="text" disabled value="{{val.user.value}}"/>
                            </template>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <td>
                            <div class="mt20">
                                <a href="javascript:void(0)" class="btn mr5 {{tool.submitClass}}" v-on:click="submit">{{tool.submitValue}}</a>
                                <a href="./school-manage.html" class="btn mr5 {{tool.cancelClass}}">{{tool.cancelValue}}</a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </template>
        </div>

    </div>
</main>
</body>
<script src="/js/common.js" data-main="/js/sell-after/edit-school.js"></script>
</html>