<!--用户列表-->
<table class="info-table">
    <thead>
    <tr>
        <th v-for="val in titles" v-bind:style="val.styleObject">
            <template v-if="val.select">
                <!--省份-->
                <div class="sod_select">
                    <div class="sod_label">{{val.active}}</div>
                    <div class="sod_list">
                        <ul>
                            <li v-for="option in val.options" v-on:click="val.click(option,val)" class="{{option.class}}">{{option.channelName}}</li>
                        </ul>
                    </div>
                </div>
            </template>
            <template v-else>
                {{val.text}}
            </template>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr v-for="val in dataList" data="{{val.roleId}}">
            <td>{{$index+1+page}}</td>
            <td>{{val.appUserPhone}}</td> 
            <td>{{val.appRegDate}}</td>
            <td>{{val.appPhoneType}}</td>
            <td>{{val.modelName}}</td>
            <td>{{val.strainerView.modelName}}</td>
            <td>{{val.strainerView.remainingLife}}</td>
            <td class="long">{{val.fullAdderss}}</td>
            <td class="tools">
                <ul>
                    <li>
                        <a href="./device-user-detail.html?appUserId={{val.appUserId}}&appUserPhone={{val.appUserPhone}}&deviceId={{val.deviceId}}&strainerId={{val.strainerView.strainerId}}">{{val.tools.detail}}</a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr v-if="dataList.length==0" class="tc">
            <td colspan="9"><b>没有数据</b></td>
        </tr>
    </tbody>
</table>