<!--修改密码-->
<table class="input-form mt20">
    <template v-if="caption">
        <tbody>
        <tr>
            <th></th>
            <td><h4 class="caption {{captionClass}}">{{caption}}</h4></td>
        </tr>
        <tr v-for="val in list" class="{{val.listClass}}">
            <th>{{val.title}}</th>
            <td>
                <input class="input input-long {{val.warning&&'warning'}}" type="password" v-model="val.value" v-on:focus="focus(val)" v-on:blur="val.blur(val,list)" placeholder="{{val.placeholder}}" value="{{val.value}}"/>
                <div class="hint common">{{val.point}}</div>
                <div class="hint short">{{val.hint}}</div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <div class="mt20">
                    <a href="javascript:void(0)" class="btn {{submitClass}} mr10" v-on:click="submit">{{submitValue}}</a>
                    <a href="javascript:void(0)" class="btn {{cancelClass}}" onclick="history.go(-1)">{{cancelValue}}</a>
                </div>
            </td>
        </tr>
        </tbody>
    </template>
</table>