<!--新增零售经销商--> 
<table class="input-form mt20">
    <tbody>
        <tr class="line">
            <th>{{rank.title}}</th>
            <td>
                <template v-for="option in rank.checkboxs">
                    <label class="{{option.checked?'':'cp'}} checkout-table mr50" v-on:click="selectRank(option,rank)">
                        <span class="checkout-box notClick {{option.checked?'':'cp'}} {{option.checked?'on':''}}" >
                            <input class="radio hide" type="checkbox" disabled checked="{{option.checked?true:false}}"/>
                        </span>
                        <span class="vm">
                            {{option.name}}
                        </span>
                    </label>
                </template>
            </td>
        </tr>
        <tr v-for="val in saleArea.list" class="saleArea">
            <th v-if="val.first" rowspan="{{saleArea.row}}">{{saleArea.title}}</th>
            <td>
                <template v-if="val.first">
                    <div class="hint">{{val.hint}}</div>
                </template>
                <!--省份-->
                <div class="sod_select province light-long">
                    <div class="sod_label">{{val.provinceActive.areaName}}</div>
                    <div class="sod_list">
                        <ul>
                            <li v-for="option in val.province" class="{{option.class}} notSetVal" v-on:click="provinceSelect(option,val,$index)">{{option.areaName}}</li>
                        </ul>
                    </div>
                </div>
                <!--城市-->
                <div class="sod_select city light-long">
                    <div class="sod_label">{{val.cityActive.areaName}}</div>
                    <div class="sod_list">
                        <ul>
                            <li v-for="option in val.city" class="{{option.class}} notSetVal" v-on:click="citySelect(option,val,$index)">{{option.areaName}}</li>
                        </ul>
                    </div>
                </div>
                <!--区县-->
                <div class="sod_select area light-long">
                    <div class="sod_label">{{val.areaActive.areaName}}</div>
                    <div class="sod_list">
                        <ul>
                            <li v-for="option in val.area" class="{{option.class}} notSetVal" v-on:click="areaSelect(option,val,$index)">{{option.areaName}}</li>
                        </ul>
                    </div>
                </div>
                <template v-if="val.first">
                    <input v-if="saleArea.row<saleArea.max" type="button" class="btn {{val.btnClass}} btn-light-long" v-on:click="newSaleArea" value="{{val.btnValue}}"/>
                    <input v-if="saleArea.row>=saleArea.max" type="button" class="btn {{val.btnClass}} btn-light-long" disabled value="{{val.btnValue}}"/>
                </template>
                <template  v-if="!val.first">
                    <input type="button" class="btn {{val.btnClass}} btn-light-long" v-on:click="cancelSaleArea($index)" value="{{val.btnValue}}"/>
                </template>
            </td>
        </tr>
        <tr v-for="val in list">
            <th>{{val.title}}</th>
            <td>
                <input class="input input-long {{val.warning&&'warning'}}" type="text" v-on:blur="val.blur(val)" v-on:keyup.enter="submit" v-model="val.value" v-on:focus="focus(val)" placeholder="{{val.placeholder}}" value="{{val.value}}"/>
                <div class="hint">{{val.hint}}</div>
                <template v-if="val.success">
                    <input class="input input-long mt10" type="text" disabled value="{{val.user.value}}"/>
                </template>
            </td>
        </tr>
        <tr class="line">
            <th>{{address.title}}</th>
            <td>
                <div>
                    <!--省份-->
                    <div class="sod_select province light-long">
                        <div class="sod_label">{{address.provinceActive.areaName}}</div>
                        <div class="sod_list">
                            <ul>
                                <li v-for="option in address.province" class="{{option.class}} notSetVal" v-on:click="provinceSelect(option,address)">{{option.areaName}}</li>
                            </ul>
                        </div>
                    </div>
                    <!--城市-->
                    <div class="sod_select city light-long">
                        <div class="sod_label">{{address.cityActive.areaName}}</div>
                        <div class="sod_list">
                            <ul>
                                <li v-for="option in address.city" class="{{option.class}} notSetVal" v-on:click="citySelect(option,address)">{{option.areaName}}</li>
                            </ul>
                        </div>
                    </div>
                    <!--区县-->
                    <div class="sod_select area light-long">
                        <div class="sod_label">{{address.areaActive.areaName}}</div>
                        <div class="sod_list">
                            <ul>
                                <li v-for="option in address.area" class="{{option.class}} notSetVal" v-on:click="areaSelect(option,address)">{{option.areaName}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <textarea class="mt15 textarea" v-model="address.value" placeholder="{{address.placeholder}}"></textarea>
            </td>
        </tr>
        <tr>
            <th></th>
            <td>
                <div class="mt20">
                    <a href="javascript:void(0)" class="btn mr5 {{tool.submitClass}}" v-on:click="submit">{{tool.submitValue}}</a>
                    <a href="./retail.html" class="btn mr5 {{tool.cancelClass}}">{{tool.cancelValue}}</a>
                </div>
            </td>
        </tr>
    </tbody>
</table>